# import libraries

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# 1.Problem Statement

In [ ]:
Predict the price of cars using various variables

# 2.Data Gathering

In [31]:
df = pd.read_csv("autos_dataset.csv")
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [32]:
df = pd.read_csv("autos_dataset.csv")
df.head().T

                             0            1            2      3      4
symboling                    3            3            1      2      2
normalized-losses            ?            ?            ?    164    164
make               alfa-romero  alfa-romero  alfa-romero   audi   audi
fuel-type                  gas          gas          gas    gas    gas
aspiration                 std          std          std    std    std
num-of-doors               two          two          two   four   four
body-style         convertible  convertible    hatchback  sedan  sedan
drive-wheels               rwd          rwd          rwd    fwd    4wd
engine-location          front        front        front  front  front
wheel-base                88.6         88.6         94.5   99.8   99.4
length                   168.8        168.8        171.2  176.6  176.6
width                     64.1         64.1         65.5   66.2   66.4
height                    48.8         48.8         52.4   54.3   54.3
curb-weight               2548         2548         2823   2337   2824
engine-type               dohc         dohc         ohcv    ohc    ohc
num-of-cylinders          four         four          six   four   five
engine-size                130          130          152    109    136
fuel-system               mpfi         mpfi         mpfi   mpfi   mpfi
bore                      3.47         3.47         2.68   3.19   3.19
stroke                    2.68         2.68         3.47    3.4    3.4
compression-ratio          9.0          9.0          9.0   10.0    8.0
horsepower                 111          111          154    102    115
peak-rpm                  5000         5000         5000   5500   5500
city-mpg                    21           21           19     24     18
highway-mpg                 27           27           26     30     22
price                    13495        16500        16500  13950  17450

In [33]:
df.shape

(205, 26)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

df.isna().sum()

In [35]:
df.replace({"?":np.nan},inplace=True)

In [36]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [38]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [39]:
df.drop(['make','aspiration','fuel-type','num-of-doors','body-style','drive-wheels',
         'engine-location','engine-type','fuel-system'],axis=1, inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   num-of-cylinders   205 non-null    object
 8   engine-size        205 non-null    int64
 9   bore               201 non-null    object
 10  stroke             201 non-null    object
 11  compression-ratio  205 non-null    float64
 12  horsepower         203 non-null    object
 13  peak-rpm           203 non-null    object
 14  city-mpg           205 non-null    int64
 15  highway-mpg        205 non-null    int64
 16  price              201 non-null    object
dtypes: float64(5), int64(5), object(7)
memory usage: 27.4+ KB

In [41]:
df.drop("normalized-losses",axis=1,inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   num-of-cylinders   205 non-null    object
 7   engine-size        205 non-null    int64
 8   bore               201 non-null    object
 9   stroke             201 non-null    object
 10  compression-ratio  205 non-null    float64
 11  horsepower         203 non-null    object
 12  peak-rpm           203 non-null    object
 13  city-mpg           205 non-null    int64
 14  highway-mpg        205 non-null    int64
 15  price              201 non-null    object
dtypes: float64(5), int64(5), object(6)
memory usage: 25.8+ KB

In [43]:
df.isna().sum()

symboling            0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
num-of-cylinders     0
engine-size          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [44]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [45]:
df["bore"].fillna(df["bore"].median(),inplace=True)
df["stroke"].fillna(df["stroke"].median(),inplace=True)
df["horsepower"].fillna(df["horsepower"].median(),inplace=True)
df["peak-rpm"].fillna(df["peak-rpm"].median(),inplace=True)
df["price"].fillna(df["price"].median(),inplace=True)

In [46]:
df.isna().sum()

symboling            0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
num-of-cylinders     0
engine-size          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   num-of-cylinders   205 non-null    object
 7   engine-size        205 non-null    int64
 8   bore               205 non-null    object
 9   stroke             205 non-null    object
 10  compression-ratio  205 non-null    float64
 11  horsepower         205 non-null    object
 12  peak-rpm           205 non-null    object
 13  city-mpg           205 non-null    int64
 14  highway-mpg        205 non-null    int64
 15  price              205 non-null    object
dtypes: float64(5), int64(5), object(6)
memory usage: 25.8+ KB

In [48]:
df["bore"] = df["bore"].astype(float)
df["stroke"] = df["stroke"].astype(float)
df["horsepower"]=df["horsepower"].astype(float)
df["peak-rpm"]=df["peak-rpm"].astype(float)
df["price"]=df["price"].astype(float)

In [49]:
df.head().T

                         0        1        2        3        4
symboling                3        3        1        2        2
wheel-base            88.6     88.6     94.5     99.8     99.4
length               168.8    168.8    171.2    176.6    176.6
width                 64.1     64.1     65.5     66.2     66.4
height                48.8     48.8     52.4     54.3     54.3
curb-weight           2548     2548     2823     2337     2824
num-of-cylinders      four     four      six     four     five
engine-size            130      130      152      109      136
bore                  3.47     3.47     2.68     3.19     3.19
stroke                2.68     2.68     3.47      3.4      3.4
compression-ratio      9.0      9.0      9.0     10.0      8.0
horsepower           111.0    111.0    154.0    102.0    115.0
peak-rpm            5000.0   5000.0   5000.0   5500.0   5500.0
city-mpg                21       21       19       24       18
highway-mpg             27       27       26       30       22
price              13495.0  16500.0  16500.0  13950.0  17450.0

In [50]:
df["num-of-cylinders"].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [51]:
df["num-of-cylinders"].replace({'four':4, 'six':6, 'five':5,
                                'three':3, 'twelve':12, 'two':2, 'eight':8},inplace=True)

In [53]:
df["num-of-cylinders"]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   num-of-cylinders   205 non-null    int64
 7   engine-size        205 non-null    int64
 8   bore               205 non-null    float64
 9   stroke             205 non-null    float64
 10  compression-ratio  205 non-null    float64
 11  horsepower         205 non-null    float64
 12  peak-rpm           205 non-null    float64
 13  city-mpg           205 non-null    int64
 14  highway-mpg        205 non-null    int64
 15  price              205 non-null    float64
dtypes: float64(10), int64(6)
memory usage: 25.8 KB

# Train and Test data

In [56]:
x = df.drop("price",axis = 1)
y = df["price"]

In [58]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)

In [59]:
x_train

,symboling,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
160,0,95.7,166.3,64.4,53.0,2094,4,98,3.19,3.03,9.0,70.0,4800.0,38,47
98,2,95.1,162.4,63.8,53.3,2008,4,97,3.15,3.29,9.4,69.0,5200.0,31,37
127,3,89.5,168.9,65.0,51.6,2756,6,194,3.74,2.90,9.5,207.0,5900.0,17,25
47,0,113.0,199.6,69.6,52.8,4066,6,258,3.63,4.17,8.1,176.0,4750.0,15,19
91,1,94.5,165.3,63.8,54.5,1918,4,97,3.15,3.29,9.4,69.0,5200.0,31,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,0,114.2,198.9,68.4,56.7,3285,4,120,3.46,2.19,8.4,95.0,5000.0,19,24
64,0,98.8,177.8,66.5,55.5,2425,4,122,3.39,3.39,8.6,84.0,4800.0,26,32
15,0,103.5,189.0,66.9,55.7,3230,6,209,3.62,3.39,8.0,182.0,5400.0,16,22
125,3,94.5,168.9,68.3,50.2,2778,4,151,3.94,3.11,9.5,143.0,5500.0,19,27
9,0,99.5,178.2,67.9,52.0,3053,5,131,3.13,3.40,7.0,160.0,5500.0,16,22

# Model training

In [60]:
lr_model = LinearRegression()

In [61]:
lr_model.fit(x_train,y_train)

LinearRegression()

# Test data

In [65]:
y_pred = lr_model.predict(x_test)
y_pred[:5]

array([10356.10856001, 18433.94511012, 12910.44167142,  5914.65344537,
       52640.69590166])

In [66]:
y_test[:5]

131     9895.0
117    18150.0
63     10795.0
56     11845.0
49     36000.0
Name: price, dtype: float64

In [67]:
mse = mean_squared_error(y_test,y_pred)
print("MSE is :",mse)

MSE is : 41136422.359821595

# Residual

In [ ]:
1.Normality of Residual:
    1.Density plot (sns.kdeplot)
    2.qq plot
    3.shapiro test
    4.KS Test
    5.Normality
    
2.Homoscedasticsity :
    scatterplot

# Assumptions of normality

In [63]:
#Residual
y_pred = lr_model.predict(x_test)

In [ ]:
residual = y_test - y_pred
# residual